= simple_form_for @post do |f|
  - if @post.errors.any?
    %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
    %ul
      - @post.errors.full_messages.each do |msg|
        %li= msg

  .field
    = f.input :title
  .field
    = f.input :body
  .actions
    = f.submit 'Save'

