%h1= link_to @post.title, @post
%p= @post.updated_at.strftime("%A, %B %d, %Y at %l:%M%p") + " by #{@post.user.email}"
%p= @post.body
%p
    = link_to 'Edit', edit_post_path(@post)
    = link_to 'Delete', @post, :method => :delete, :data => { :confirm => 'Are you sure?' }