!!!
%html
  %head
    %title TwitterApp
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1=link_to "Twitter-Like App", root_path
        %li.toggle-topbar.menu-icon
          %span=link_to "Menu", "#"
      %section.top-bar-section
        %ul.right
          %li.divider
          - if user_signed_in?
            %li.active=link_to "My Account", user_path(current_user.id)
            %li.divider
            %li=link_to "Edit Profile", edit_user_registration_path
            %li.divider
            %li=link_to "Sign Out", destroy_user_session_path, method: :delete 
          - else
            %li=link_to "Sign Up", new_user_registration_path
            %li.divider
            %li=link_to "Sign In", new_user_session_path       


    / .row

    /   .large-11.large-centered.columns
    /     = link_to 'Home', root_url
    /     |
    /     - if user_signed_in?
    /       = link_to 'My Account', user_path(current_user.id)
    /       |
    /       = link_to 'Edit profile', edit_user_registration_path
    /       |
    /       = link_to "Sign out", destroy_user_session_path, method: :delete
    /     - else
    /       = link_to "Sign up", new_user_registration_path
    /       |
    /       = link_to "Sign in", new_user_session_path
    .row
      .large-8.large-centered.columns
      %p.notice= notice unless notice.blank?
      %p.alert= alert unless alert.blank?
      = yield
